<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#"> Recipe App </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active"
          (click)="onSelect('recipe')"
          aria-current="page"
          href="#">

            Recipes

          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
          (click)="onSelect('shopping-list')"
          href="#" id="navbarDropdownMenuLink"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">
            Shopping List
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

            <li><a class="dropdown-item" href="#"> Save Data </a></li>
            <li><a class="dropdown-item" href="#"> Fetch Data </a></li>

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
