<div class="shadow p-4">

  <div class="row">

     <div class="col-md-8">

      <input
      type="text"
      class="form-control"
      placeholder="Please enter recipe name"
      #nameInput />

     </div>

     <div class="col-md-4">

      <input
      type="number"
      class="form-control"
      placeholder="Please enter amount"
      #amountInput />

     </div>

   </div>

   <div class="row justify-content-center mt-md-3">

     <div class="col-md-3">

       <button class="btn btn-dark w-100" (click)="onAddItem()"> Add </button>

     </div>

     <div class="col-md-3">

      <button class="btn btn-dark w-100"> Delete </button>

     </div>

     <div class="col-md-3">

      <button class="btn btn-dark w-100"> Clear </button>

     </div>

   </div>

  </div>
